@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

/*$font-family-sans-serif: "Inter UI", sans-serif !default;
$body-bg: #F8F8FA;
$breadcrumb-divider: quote(">");
$black: #1e272e;
$primary: #2C3A47;
$link-color: lighten($primary, 35%) !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/placeholder-loading/dist/css/placeholder-loading.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";*/

html, body {
	height: 100%;
}
